**/node_modules
**/.next
**/.cache
**/*.log
**/.env
**/.env.local
**/.git
**/dist
**/build
**/.turbo
**/.vercel
**/coverage
**/.nyc_output
**/.pytest_cache
**/__pycache__
**/*.pyc
**/.venv
**/venv
**/env
**/infra/docker/docker-*.yml
**/apps/web/.next
**/apps/api/python/**/__pycache__
**/apps/api/python/**/*.pyc
**/apps/worker/python/**/__pycache__
**/apps/worker/python/**/*.pyc
**/VideoTest.mp4
